body, border{
    margin: 0;  
    padding: 0;
}

.grey--background{
    background-color: #f1f1f1;
}

span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}
button {
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
}
.btn--red{
    background-color: red;
    color: white;
}

.btn--blue{
    background-color: blue;
     color: white;
}
.container{
    padding: 20px;
}
.logo{
    padding-left: 20px;
}
.list--item{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 10px;
   
}
.dark-background{
   background-color: black;
}
.list--header{
  width: 50%;
}
.list--item li{
    width: 30%;
    text-align: left;
    padding-right: 0px;
    word-break: break-all;
    padding: 15px;

}
.list--item li a{
    text-decoration: none;
    color: grey;
}
.list_row{
    display: flex;
}


 /**Modal styling***/
  
.modal {
  font-size: 12px;
  background-color: #cccccc;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 15px 0px;
}
.modal > .content {

  padding: 10px 25px;
}
.modal > .actions {
  
 padding: 15px 0px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
.popup-content {
    padding: 0 ! important;
}
.content > form input{
    margin-bottom: 15px;
    padding: 2px 0px 2px;
    font-size: 1.2rem;
}
.current {
    color: white ! important;
    border-bottom: 4px solid white;
}
form >input {
  width: 100%
}
.flexed--row{
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #cfcece;
}
.list--select{
  width: 5% ! important;
}
@media screen and (max-width: 600px) {
  .flexed--row {
    flex-direction: column;
  }
  .list--item li{
        width: 100%;
  }
  .list-heading{
    display: none;
  }
  .list--header {
    width: 100%;
  }
}